.blog-lst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
    padding: 10px;
}
.heading{
    /* text-align: center; */
    font-size: 2rem;
    margin:2rem 0rem;
}
.blog-lst>a{
    text-decoration: none;
    color: inherit;
    cursor: auto;
}